<h2>Edit <%= @pet.name %> details</h2>

<form method="post" action="/pet">
  <label>Name</label>
  <input type="text" name="name" value="<%= @pet.name %>">
  <label>Age</label>
  <input type="text" name="age" value="<%= @pet.age %>">
  <label>Type</label>
  <input type="text" name="type" value="<%= @pet.type %>">
  <label>Breed</label>
  <input type="text" name="breed" value="<%= @pet.breed %>">
  <input type="hidden" name="owner_id" value= "<%= @pet.owner_id %>">
  <input type="submit" name="Add Pet">
</form>