<h2>Edit <%= @pet.name %> details</h2>

<form method="post" action="/pet/edit">
  <label>Name</label>
  <input type="text" name="name" value="<%= @pet.name %>">
  <label>Age</label>
  <input type="text" name="age" value="<%= @pet.age %>">
  <label>Type</label>
  <input type="text" name="type" value="<%= @pet.type %>">
  <label>Breed</label>
  <input type="text" name="breed" value="<%= @pet.breed %>">
  <label>Sex</label>
  <input type="radio" name="sex" value="Male">Male
  <input type="radio" name="sex" value="Female">Female 
  <input type="hidden" name="id" value= "<%= @pet.id %>">

  <input type="hidden" name="owner_id" value= "<%= @pet.owner_id %>">
  <input type="submit" name="edit_pet" value="Edit Pet">
</form>