<div class="owner_details">
<address>
<p>
  <%= @owner.name %><br>
  <%= @owner.address %><br>
  <%= @owner.phone %>
</p>
</address>
</div>
<div class="owner_details">
<address>
<p>
  <%= @pet.name %><br>
  <%= @pet.age %><br>
  <%= @pet.type %><br>
  <%= @pet.breed %><br>
</p>
</address>
</div>