<div class="table_buttons">
  <div class="owner_details">
    <address>
      <p>
        <%= @owner.name %><br>
        <%= @owner.address %><br>
        <%= @owner.phone %>
      </p>
    </address>
  </div>

  <div class="main_table_div">
    <table class="main_table">
      <tr class="t_header">
        <th>Name</th>
        <th>DOB</th>
        <th>Type</th>
        <th>Breed</th>
        <th>Sex</th>
      </tr>
      <tr class="main_data">
        <td><%= @pet.name %></td>
        <td><%= @pet.age %></td>
        <td><%= @pet.type %></td>
        <td><%= @pet.breed %></td>
        <td><%= @pet.sex %></td>
      </tr>
    </table>
  </div>
  <div id="add_app">
    <a href="/pet/<%= @pet.id %>/edit"><button class="edit_icon"></button></a>
  </div>

  <div id="add_app">
  <form method="POST" action="/pet/delete">
    <input type="hidden" name="id" value="<%= @pet.id %>">
    <input class="delete_icon" type="submit" name="delete_pet" value="">
  </form>
</div>
<div id="med_history_div">
  
</div>