<% 
if params[:pet_id]
 pet_id = params[:pet_id]
else
  pet_id = @pet.id
end
 %>

<h2>Edit Appointment</h2>

<form method="GET" action="/owners">
  <input type="hidden" name="appointment_id" value="<%= @appointment.id %>">
  <input type="submit" name="edit_appointment" value="Change Owner">
</form>

<form method="GET" action="/owners/<%= @owner.id %>">
<input type="hidden" name="appointment_id" value="<%= @appointment.id %>">
<input type="submit" name="edit_appointment" value="Change Pet">
</form>

<form method="POST" action="/appointments/edit">
  <label>Date:</label>
  <input type="date" name="app_date">
  <label>Time:</label>
  <select name="appointment_time_id">
    <option value="<%= @current_time.id %>"><%= @current_time.available_time %></option>
    <% @times.each do |time| %>
    <option value="<%= time.id %>"><%= time.available_time %></option>
    <% end %>
  </select>
  <label>Reason</label>
  <input type="text" name="reason" value="<%= @appointment.reason %>">

  <input type="hidden" name="id" value="<%= @appointment.id %>">
  <input type="hidden" name="pet_id" value="<%= pet_id %>">

  <input type="submit" name="edit_appointment" value="Edit Appointment">
</form>