<% 
if params[:pet_id]
 pet_id = params[:pet_id]
else
  pet_id = @pet.id
end
 %>

<h2>Edit Appointment</h2>
<form method="GET" action="/owners">
  <input type="hidden" name="appointment_id" value="<%= @appointment.id %>">
  <input type="submit" name="edit_appointment" value="Change Owner">
</form>

<form method="GET" action="/owners/<%= @owner.id %>">
<input type="hidden" name="appointment_id" value="<%= @appointment.id %>">
<input type="submit" name="edit_appointment" value="Change Pet">
</form>

<form method="POST" action="/appointments/edit">
  <label>Time:</label>
  <select name="appointment_time">
    <option value="09:00">09:00</option>
    <option value="10:00">10:00</option>
    <option value="11:00">11:00</option>
    <option value="12:00">12:00</option>
    <option value="15:00">15:00</option>
    <option value="16:00">16:00</option>
    <option value="17:00">17:00</option>
  </select>
  <label>Duration:</label>
  <select name = "duration">
    <option value="15:00">15mins</option>
    <option value="30:00">30mins</option>
  </select>
  <label>Reason</label>
  <input type="text" name="reason" value="<%= @appointment.reason %>">

  <input type="hidden" name="id" value="<%= @appointment.id %>">
  <input type="hidden" name="pet_id" value="<%= pet_id %>">

  <input type="submit" name="edit_appointment" value="Edit Appointment">
</form>