<div class="table_buttons">
  <div class="main_table_div">
  <h3><%= @date_title %></h3>
    <table class="embedded_table main_table"">
      <tr class="t_header">
        <th>Time</th>
        <th>Surname</th>
        <th>Patient</th>
        <th>Type</th>
        <th>Breed</th>
        <th>Reason</th>
        <th>Arrival</th>
        <!-- surname, address, name, species, breed sex(ME MN FE FN U) dob potentialy reason for appointment-->
      </tr>
      <% if @appointments %>
      <% @appointments.each do |appointment| %>
      <% time = appointment.get_time %>
      <% pet = appointment.get_pet %>
      <% owner = pet.get_owner %>

      <tr class="main_data">
        <td colspan="7">
          <a href="/appointments/<%= appointment.id %>">
            <table >
              <td><%= time.available_time %></td>
              <td><%= owner.last_name %></td>
              <td><%= pet.name %></td>
              <td><%= pet.type %></td>
              <td><%= pet.breed %></td>
              <td><%= appointment.reason %></td>
              <td>
              <% if !appointment.needs_seen %>
              Complete
              <% elsif appointment.arrival %>
                <%= appointment.arrival %>
              <% else %>
              <form method="GET" action="/appointments">
                <input type="hidden" name="appointment" value="<%= appointment.id %>">
                <input type="submit" name="submit" value="Arrived">
              </form>
              <% end %>
              </td>
            </table>
          </a>
        </tr>
        <% end %>
        <% else %>
        <td colspan="7">No Appoinments Scheduled</td>
        <% end %>
      </table>
      <form method="GET" action="/appointments">
        <input type="hidden" name="next_date" value="<%= @current_date %>">
        <input type="submit" name="next" value="Next">
      </form>
      <form method="GET" action="/appointments">
        <input type="hidden" name="prev_date" value="<%= @current_date %>">
        <input type="submit" name="next" value="Prev">
      </form>

    </div>
    <div id="add_app">
      <form method="GET" action="/owners">
        <input class="add_icon" type="submit" name="new_appointment" value="">
      </form>
    </div>
  </div>
  

