<div class="table_buttons">
  <div class="main_table_div">
    <table class="main_table">
      <tr class="t_header">
        <th>Time</th>
        <th>Surname</th>
        <th>Patient</th>
        <th>Type</th>
        <th>Breed</th>
        <th>Vet</th>
        <!-- surname, address, name, species, breed sex(ME MN FE FN U) dob potentialy reason for appointment-->
      </tr>
      <% @appointments.each do |appointment| %>
      <% pet = appointment.get_pet %>
      <% owner = pet.get_owner %>

      <tr class="main_data">
        <td colspan="6">
          <a href="/appointments/<%= appointment.id %>">
            <table>
              <td><%= appointment.appointment_time %></td>
              <td><%= owner.name %></td>
              <td><%= pet.name %></td>
              <td><%= pet.type %></td>
              <td><%= pet.breed %></td>
              <td>Dr Dolittle</td>
            </table>
          </a>
        </tr>
        <% end %>
      </table>
    </div>
    <div id="add_app">
      <form method="GET" action="/owners">
        <input class="add_icon" type="submit" name="new_appointment" value="">
      </form>
    </div>
  </div>
  

