<div class="table_buttons">
  <div class="owner_details">
    <address>
      <p>
        <%= @owner.name %><br>
        <%= @owner.address %><br>
        <%= @owner.phone %>
      </p>
    </address>
  </div>

  <div class="main_table_div">
    <table class="main_table">
      <tr class="t_header">
        <th>Time</th>
        <th>Duration</th>
        <th>Name</th>
        <th>DOB</th>
        <th>Type</th>
        <th>Breed</th>
        
      </tr>
      <tr class="main_data">
        <td><%= @time %></td>
        <td><%= @appointment.duration %> mins</td>
        <td><%= @pet.name %></td>
        <td><%= @pet.age %></td>
        <td><%= @pet.type %></td>
        <td><%= @pet.breed %></td>
      </tr>
    </table>
  </div>
  <div id="add_app">
    <a href="/appointments/<%= @appointment.id %>/edit"><button class="edit_icon"></button></a>
    
  </div>
  <div id="add_app">
  <form method="POST" action="/appointments/delete">
    <input type="hidden" name="id" value="<%= @appointment.id %>">
    <input class="delete_icon" type="submit" name="delete_appointment" value="">
  </form>
    
  </div>
</div>
<div id="notes_reason">
  <div class="notes">
    <p>This is where the notes will go</p>
  </div>
  <div id="reason_div">
    <h4>Reason for appointment</h4>
    <p><%= @appointment.reason %></p>
  </div>
</div>