<h2>Edit owner details</h2>

<form method="POST" action="/owners/edit">
<label>First Name</label>
<input type="text" name="first_name" value="<%= @owner.first_name %>">
<label>Surname</label>
<input type="text" name="last_name" value="<%= @owner.last_name %>">
<label>Address</label>
<input type="text" name="address" value="<%= @owner.address %>">
<label>Postcode</label>
<input type="text" name="postcode" value="<%= @owner.postcode %>">
<label>Phone</label>
<input type="tel" name="phone" value="<%= @owner.phone %>">
<input type="hidden" name="id" value="<%= @owner.id %>">
  <input type="submit" name="edit_owner" value="Edit Owner">
</form>