<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
  <% @owners.each do |owner| %>
    
    <tr>
      <td><a href="/owners/<%= owner.id %>"><%= owner.name %></a></td>
      <td><%= owner.address %></td>
      <td><%= owner.phone %></td>

      <% if params[:new_appointment]  %>
      <td>
        <form method="GET" action="/owners/<%= owner.id %>">
          <input type="hidden" name="owner_id" value="<%= owner.id %>">
          <input type="submit" name="new_appointment" value="New Appointment">
        </form>
      </td>
      <% end %>

    </tr>
  <% end %>
</table>

