  <div class="table_buttons">
    <div class="main_table_div">
      <table class="main_table">
        <tr class="t_header">
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <% if params[:new_appointment]  %>
          <th>Select Client</th>
          <% end %>
        </tr>
        <% @owners.each do |owner| %>

        <tr class="main_data" >
          <td colspan="3">
            <a href="/owners/<%= owner.id %>">
              <table>
                <td><%= owner.name %></td>
                <td><%= owner.address %></td>
                <td><%= owner.phone %></td>
              </a>
            </table>
          </td>
          

          <% if params[:new_appointment]  %>
          <td>
            <form method="GET" action="/owners/<%= owner.id %>">
              <input type="hidden" name="owner_id" value="<%= owner.id %>">
              <input type="submit" name="new_appointment" value="New Appointment">
            </form>
          </td>
          <% end %>

        </tr>
        <% end %>
      </table>
    </div>
    <div id="add_app">
      <a href="/owners/new"><button>Add Client</button></a>
    </div>
  </div>

