  <!-- show owner -->
  <% 
  # conditional which checks how the page was directed and changes the function of buttons and path
  if params.include?(:new_appointment)
    add_or_edit = "new_appointment"
    add_or_edit_button = "New Appointment"
    add_or_edit_path = "/appointments/new"
  else 
    add_or_edit = "edit_appointment"
    add_or_edit_button = "Edit Appointment"
    add_or_edit_path = "/appointments/" + params[:appointment_id].to_s + "/edit"
  end
  %>

  <div class="table_buttons">
    <div class="owner_details">
      <address>
        <p>
          <%= @owner.name %><br>
          <%= @owner.address %><br>
          <%= @owner.phone %>
        </p>
      </address>
    </div>


    <div class="main_table_div">
      <table class="main_table">
        <tr class="t_header">
          <th>Name</th>
          <th>Type</th>
          <th>Breed</th>
          <% if params[:new_appointment] || params[:edit_appointment] %>
          <th>Select Pet</th>
          <% end %>
        </tr>
        <% @pets.each do |pet| %>
        <tr class="main_data">
          <td colspan="3">
          <a href="/pet/<%= pet.id %>">
              <table>
                <td><%= pet.name %></td>
                <td><%= pet.type %></td>
                <td><%= pet.breed %></td>
              </table>
            </a>
          </td>
          <% if params[:new_appointment] || params[:edit_appointment] %>
          <td>
            <form method="GET" action=<%= add_or_edit_path %>>
              <input type="hidden" name="pet_id" value="<%= pet.id %>">
              <input type="submit" name="<%= add_or_edit %>" value="<%= add_or_edit_button %>">
            </form>
          </td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
    <div id="add_app">
      <a href="/pet/<%= @owner.id %>/new"><button class="add_icon"></button></a>

    </div>
    <div id="add_app">
      <a href="/owners/<%= @owner.id %>/edit"><button class="edit_icon"></button></a>

    </div>

    <div id="add_app">
      <form method="POST" action="/owners/delete">
        <input type="hidden" name="id" value="<%= @owner.id %>">
        <input class="delete_icon" type="submit" name="delete_owner" value="">
      </form>

    </div>
  </div>
