<caption>Owner</caption>
<table class='main_table'>
  <tr class="t_header">
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
  <tr>
    <td><%= @owner.name %></td>
    <td><%= @owner.address %></td>
    <td><%= @owner.phone %></td>
  </tr>
</table>

<caption>Pets</caption>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
  </tr>
  <% @pets.each do |pet| %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.type %></td>
    <td><%= pet.breed %></td>
    <% if params[:new_appointment] %>
    <td>
      <form method="GET" action="/appointments/new">
        <input type="hidden" name="pet_id" value="<%= pet.id %>">
        <input type="submit" name="new_appointment" value="New Appointment">
      </form>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<button><a href="/pet/<%= @owner.id %>/new">Create Pet</a></button>
