  
<div class="table_buttons">
<div class="owner_details">
<address>
<p>
  <%= @owner.name %><br>
  <%= @owner.address %><br>
  <%= @owner.phone %>
</p>
</address>
</div>


  <div class="main_table_div">
    <table class="main_table">
      <tr class="t_header">
        <th>Name</th>
        <th>Type</th>
        <th>Breed</th>
        <% if params[:new_appointment]  %>
        <th>Select Pet</th>
        <% end %>
      </tr>
      <% @pets.each do |pet| %>
      <tr class="main_data">
        <td><%= pet.name %></td>
        <td><%= pet.type %></td>
        <td><%= pet.breed %></td>
        <% if params[:new_appointment] %>
        <td>
          <form method="GET" action="/appointments/new">
            <input type="hidden" name="pet_id" value="<%= pet.id %>">
            <input type="submit" name="new_appointment" value="New Appointment">
          </form>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
  <div id="add_app">
    <a href="/pet/<%= @owner.id %>/new"><button>Create Pet</button></a>
  </div>
</div>
