<caption>Owner</caption>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
  <tr>
    <td><%= @owner.name %></td>
    <td><%= @owner.address %></td>
    <td><%= @owner.phone %></td>
  </tr>
</table>

<caption>Pets</caption>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
  </tr>
  <% @pets.each do |pet| %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.type %></td>
    <td><%= pet.breed %></td>
  </tr>
  <% end %>
</table>